.sectionContainer{
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    padding: 10rem 0;
    gap: 2rem;
    position: relative;
}
.searchFilter{
    width: 30%;
    box-shadow: 0 4px 16px rgba(51, 51, 51, 0.137);
    padding: 0rem;
}
.searchResults{
    width: 80%;
    padding: 0rem;
}
.header{
    padding: 2rem;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header h1{
    font-size: 1.4rem;
    position: relative;
}
.header h1::before{
    content: '';
    position: absolute;
    bottom: -1rem;
    width: 40%;
    height: 6px;
    background-color: var(--active-color);
    border-radius: 24px;
}
.seeAll{
    display: none;
}
.bodyPartContainer{
    padding: 0 2rem;
}

.bodyPart{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}
.bodyPart::after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: rgba(128, 128, 128, 0.212);
}
.bodyPart div:nth-of-type(2){
    margin-top: 1rem;
}
.innerBody{
    scale: 1 1;
    max-height: 0;
    transform-origin: top;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
.Head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Head h1{
    font-size: 1.2rem;
}
.numRoomsOptions , .hotelClassOptions{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

}
.searchfilterSelectedspan{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 2rem;
    line-height: 0;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 32px;
}
.pricerangeNums{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.pricerangeNums span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    width: 50%;
    height: 2rem;
    line-height: 0;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 32px;
}
.pricerangeLine{
    position: relative;
    width: 100%;
    height: 2rem;
}
/*************************************************************************************/
.line , .range{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    height: 4px;
}
.line{
    width: 100%;
    background-color: rgb(255, 215, 215);
}
.range{
    right: 20%;
    left: 20%;
    background-color: var(--active-color);
}
.pricerangeLine input{
    position: absolute;
    top: -4px;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1;
    width: 100%;
    height: 4px;
    appearance: none;
    background: none;
    pointer-events: none;
}
.pricerangeLine input[type='range']::-webkit-slider-thumb {
    appearance: none;
    pointer-events: auto;
    z-index: 99;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--active-color);
}
.pricerangeLine input[type='range']::-moz-range-thumb{
    appearance: none;
    pointer-events: auto;
    z-index: 99;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--active-color);
}
/***************************************************************************************/
.locationsList{
    list-style-type: none;
}
.locationsList li{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    position: relative;
}
.locationsList li input {
    z-index: 9;
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.2rem;
}
input[type="radio"]:checked {
    box-shadow: 0 0 2px var(--active-color);
}

.arrivalDeparture{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}
.arrivalDeparture div{
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.arrivalDeparture h1 , .arrivalDeparture span{
    line-height: 0;
}
.arrivalDeparture input{
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    box-shadow: 4px 4px 16px rgba(31, 31, 31, 0.24);
}

/*******************************************************************************SEARCH RESULTS ********************************/
.searchResultsHeading{
    padding: 0.5rem;
    font-size: 1.2rem;
}

@media screen and (max-width : 1200px){
    .sectionContainer{
        flex-wrap: wrap;
        padding: 6rem 0;
    }
    .sectionContainer > div{
        width : 100%;
    }
    .seeAll{
        display: inline-block;
        padding: 0.5rem;
        margin: 0 0.5rem;
        border: 1px solid rgb(189, 189, 189);
        line-height: 0;
    }
    .bodyPartContainer{
        max-height: 0;
        overflow: hidden;
        transition: 500ms all ease-in-out;
    }
}